.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie{
  position: relative;
  flex: 0 1 auto;
  cursor: pointer;

  &__selector{
    border: none;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;

    img{ transition: transform 0.3s}
  }
}

.titleHover{
  cursor: pointer;
  border: none;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  font-family: var(--font-secondary);
  border-radius: 15px;
  font-size: 1.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  color: transparent;
  transition: 0.5s all;
}

.movie:hover > .titleHover{
  color: white;
  background: rgba(0, 0, 0, 0.503);
}


.movie:hover > .movie__selector > img{
  transform: scale(1.1) ;

}

