.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 340px;
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 17px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  min-width: 340px;
}

.card > div {
  position: relative;

  & .blur_footer{
    position: absolute;
    background: linear-gradient(transparent, #223858 100%);
    bottom: 0;
    height: 20px;
    width: 100%;
  }
}

.header{
  height: 190px;
  padding:0 1px;
  img{
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.title {
  font-family: var(--font-secondary);
  font-size: 2rem;
  text-align: center;
  margin: 10px 0 5px 0;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 0 15px 5px 15px;
  flex: 1 0 auto;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background:#1D2F49;

  .general_info{
    text-align: justify;
    text-justify: inter-word;

    span { color: rgb(190, 190, 190) }

    // p {
    //   margin: 5px 0;
    //  }
  }
}

.detail{
  margin: 10px 0;

  .overview{
    color: white;
    letter-spacing: 1.5px;
    text-align: justify;
    font-size: 14px;
    margin-top: 15px;
  }
}
.specs{
  display: flex;
  gap: 10px;
  margin: 5px 0;
}

.specs div:not(:first-child) {
  p{
    display: none;
  }
}

@media screen and (min-width: 615px){
  .card{
    min-width: 40vw;
    max-width: 600px;
  }

  .specs{
    flex-wrap: wrap;
    width: max-content;
    max-width: 130px;
    height: max-content;
    max-height: 100%;
    margin-left: 10px;
    margin-top: 10px;

    div{
      display: flex;
    }

    p{
      color: rgb(190, 190, 190);

      span{
        color: white;
      }
    }
  }

  .specs div:not(:first-child) {
    p{
      display: inline;
    }
  }

  .content{
    flex-direction: row-reverse;
    flex-wrap: wrap;

    .title{
      width: 100%;
    }
  }
  .detail{
    margin-right: 15px;
    flex: 1 1 350px;
    // max-width: 100%;
  }
}

