<div class="card">

  <div class="header">
    <img [src]="imgUrl">
    <div class="blur_footer"></div>
  </div>

  <h2 class="title">ONE PIECE FILM RED</h2>

  <div class="content">

    <div class="general_info">
      <p>
        <span>Companies :</span>
        McKell David, Thaddea Graham, Jojo Macari, más
      </p>
      <p>
        <span>Genres: </span>
        Misterios TV, Series TV policíacas, Británicas
      </p>
    </div>

    <div class="detail">
      <p class="overview">
        Uta — the most beloved singer in the world. Her voice, which she sings with while concealing her true identity, has been described as “otherworldly.” She will appear in public for the first time at a live concert. As the venue fills with all kinds of Uta fans — excited pirates, the Navy watching closely, and the Straw Hats led by Luffy who simply came to enjoy her sonorous performance — the voice that the whole world has been waiting for is about to resound.
      </p>
      <div class="specs">
        <div class="specs_popularity"></div>
        <span>2022</span>
        <span>124 min</span>
        <span>EN / ES</span>
      </div>

    </div>


  </div>

</div>
