$headerHeight: 50px;
$footerHeight: 60px;

#content{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow: hidden;
}

#headerHome{
  height: $headerHeight;
  position: fixed;
  z-index: 999;
  top: 0;
}

#mainHome{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $headerHeight;
  padding: 15px 16px;
  position: relative;
  min-height: calc(100vh - 110px)
}

#footerHome{
  height:$footerHeight;
}

