<footer>
  <button class="logoSection">
    <i class="fa-solid fa-film logo"></i>
    <h1>Frame</h1>
  </button>

  <ul class="optionsFooter">
    <li><a class="optionItem">For You</a></li>
    <li><a class="optionItem">Movies</a></li>
    <li><a class="optionItem">TV Shows</a></li>
    <li><a class="optionItem">My List</a></li>
  </ul>

  <ul class="socialLinks">
    <li><i class="fa-brands fa-linkedin"></i></li>
    <li><i class="fa-brands fa-square-facebook"></i></li>
    <li><i class="fa-brands fa-square-twitter"></i></li>
  </ul>
</footer>
